@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.section-desc {
    line-height: 26px;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.text-primary {
    color: rgb(255, 144, 14);
}

.btn-primary {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 23px;
    border: none;
    cursor: pointer;
}

.bg-primary {
    background-color: rgba(255, 144, 14, 0.1);
}

.dark {
    color: rgb(19, 19, 19);
}

.text-light-gray {
    color: rgb(114, 114, 114);
}

.text-gray {
    color: rgb(66, 66, 66);
}

.display-flex {
    display: flex;
}

/* header styles */

/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar .brand {
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
}

.nav-links {
    gap: 30px;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 26px;
}

/* banner styles here */
.banner {
    padding: 100px 0 50px;
}

.banner-image {
    width: 100%;
}

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 20px;
}

.banner-description {
    line-height: 26px;
}

.banner-content>.btn-primary {
    margin-top: 30px;
}

/* team styles  */
.team {
    padding: 85px 60px 130px;
    align-items: center;
    gap: 70px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-img-container img {
    width: 100%;
}

.team-content {
    max-width: 537px;
}

.team-content .title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
}

#quick-list {
    font-weight: 500;
}

.team-content .description {
    margin: 24px 0 32px;
    line-height: 26px;
}

/* some Fact section styles */
.some-facts .section-desc{
    max-width: 542px;
}
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 100px;
}
.fact {
    width: 241.83px;
    height: 241.83px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 53px;
    margin: 10px 0 5px;
}

.fact-name {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 23px;
}

/* responsive media Query */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-links,
    .team {
        flex-direction: column;
    }

    .team-img-container,
    .facts-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .some-facts .content{
        text-align: center;
    }
    .facts-container{
        row-gap: 50px;
    }
}

/* medium devices screen */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team {
        flex-direction: column;
    }
    .some-facts .content{
        text-align: center;
    }
    .some-facts .content .section-desc{
        margin: 0 auto;
    }
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
    }
}